/* custom property */
:root {
    --accent-color: #800000;
    --gradient-color: #f6bb73;
}

/* reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* defaults */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(90% + 0.2vw);
    line-height: 1.5;
    width: 80%;
    max-width: 1024px;
    margin: auto;
    border: 2px solid var(--accent-color);
}
a:hover, a:focus{ font-style: italic; color: var(--accent-color); }
h1,h2,h3,p,ul{ padding:.25em 0; }
h1{ font-size:150%; }
h2{ font-size:130%; color:var(--accent-color); }
h3{ font-size:105%; }
ul{ margin-left:2em; }

/* header */
header{
    line-height:1.2;
    border-bottom:2px solid var(--accent-color);
    background-image: linear-gradient(30deg, var(--gradient-color) 0%, white 30%, white 65%, var(--gradient-color) 100%);
}
header h2{ font-size:175%; padding-top:.5em; }
header h3{ font-size:130%; font-style:italic; padding-bottom:1em; }
header img{
    float:left; margin:.75em 1em;
    min-width:40px; max-width:80px; width:100%;
}

/* main 2-column layout */
main{ display:flex; padding:0 1em 1em; }
aside{ flex-basis:25%; }
section{ flex-basis:75%; padding-left:1em; }

/* guest speaker thumbs */
aside img{
    display:block;
    min-width:40px; max-width:75px; width:100%;
    border:4px double var(--accent-color);
    border-radius:10px;
    margin:.25em 0 1em;
}

/* featured speaker block on home page */
.featured{
    border-top:2px solid var(--accent-color);
    border-bottom:2px solid var(--accent-color);
    padding:.5em 0;
}
section img{             /* featured image */
    float:right;
    min-width:100px; max-width:250px; width:100%;
    border:4px double var(--accent-color);
    border-radius:10px;
    margin-left:1em;
}

/* speaker page tweaks */
.speaker h1{ color:var(--accent-color); }
.speaker h2{ color:black; }
.speaker p{ padding:.5em 0; }

/* footer */
footer{ background:var(--accent-color); }
footer p{ color:white; text-align:center; padding:1em 0; }

/* utility */
.large{ font-size:125%; }
